#File containing information about the structure of network.
#Modify content below to modify the structure of the network!
#Lines starting with sharp are interpreted as comments.



#######################MODIFY HERE BELOW#######################

#0	Input n,n <-- Input will be added automatically. Size depends on input images.
1	convol	4	@	5,5	#For convolution layer you should provide the size of the kernel; the size of the layer is adjusted accordingly.
2	convol	4	@	5,5
3	pooling	20,20	#For pooling and fully connected layers, you should type the size of the desired layers, i.e. number of neurons in it.
4	fullycon	16	#Treat fullyconnected layers as 1 dimensional
5	output 12