#File containing information about the structure of network.
#Modify content below to modify the structure of the network!
#Lines starting with sharp are interpreted as comments.



#######################MODIFY HERE BELOW#######################

*	ETA	-2

1	convol	3	@	10,10	#For convolution layer you should provide the size of the kernel; the size of the layer is adjusted accordingly.
2	convol	3	@	5,5	#For convolution layer you should provide the size of the kernel; the size of the layer is adjusted accordingly.
3	output 12